.login-container {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#f6bf26, #ffd427);
    /* background: repeating-linear-gradient(
        90deg,
        #e2163d,
        #e2163d calc(100vw / 7),
        #8e24aa calc(100vw / 7),
        #8e24aa calc(200vw / 7),
        #e67c73 calc(200vw / 7),
        #e67c73 calc(300vw / 7),
        #3f51b5 calc(300vw / 7),
        #3f51b5 calc(400vw / 7),
        #0b8043 calc(400vw / 7),
        #0b8043 calc(500vw / 7),
        #f4511e calc(500vw / 7),
        #f4511e calc(600vw / 7),
        rgb(87, 108, 29) calc(600vw / 7),
        rgb(87, 108, 29) calc(700vw / 7)
      ); */
}